@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Poppins:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    font-family: 'Nunito';
}

body{
    background: #fbfcff;
}
.container-fluid {
    padding: 50px 50px;
}
.logo {
    width: 168px;
    height: 43px;
}
.search {
    position: relative;
    padding-left:90px ;
}
.search input {
    width: 80%;
    height: 45px;
    align-content: center;
    padding-left: 120px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
   
}
.search img {
    width: 25px;
    height: 25px;
}
.search .btn {
    position: absolute;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    left: 110px;
    right:30px;
}
.search .form-control {
    border-radius: 35px;
    background: #fff;
}

.search .btn:hover{
    background: none;
    border:none;
    outline: none;;
}    
.notifications {
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: space-between;
}
.notifications ul li {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border:none;
    position: relative;
}
.notifications ul {
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notifications img {
    width: 45%;
}
.notifications ul .notice ::after{
    content: "";
    background: #428777;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: -10px;
}
.user {
    display: flex;
    justify-content:space-between;
    width:176px;
    height: 56px;
    margin-left:48px;
}

.rentagle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
}
.name h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 24.55px;
}
.name p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24.55px;
}
.sidebar li{
    padding: 5px 0;
    margin: 15px 0;
    position: relative;
    line-height: 15px;

}
.sidebar li span {
    padding-left: 35px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #9BABC5;
}
.sidebar .active {
    border-right: 3px solid #428777;
}
.sidebar .active span {
    color: #428777;
}
.sidebar img {
    color: #9BABC5;
    width: 22px;
}
.content {
    padding: 0 50px;
}
.content a {
    text-decoration: none;
}
.content h2 {
    font-family: 'Nunito';
    font-weight: bold;
    color: #222132;
    padding-bottom: 30px;
}
.card-common {
    width: 100%;
    height: 204px;
    background: #428777;
    border-radius: 24px;
    padding: 23px;
    position: relative;
}
.card-common p {
    font-size: 15px;
    color:#fff ;
}
.card-common h5{
    padding-top: 5px;
    color: #fff;
    font-size: 28px;
}
.card-common .cube {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 80%;
    top: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}
.card-common .cube1 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 75%;
    top: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}
.sidebar li:nth-child(3) span::after {
    content: "3";
    width: 20px;
    height: 20px;
    background: #EE4444;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    top :50%;
    left: 80%;
    color: #fbfcff;
    font-size: 10px ;
    font-family: 'Poppins';
    font-weight: 300;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transform: translateY(-50%);
    margin-right: -50%;
}
.card-common_2 {
    width: 100%;
    border-radius: 24px;
    padding: 23px;
    position: relative;
    background: #fff;
    height: 204px;
}
.card-common_2 h5{
    padding-top: 5px;
    font-size: 28px;
}
.card-common_2 p{
    font-size: 15px;
}
.card-common_2 .up {
    position: absolute;
    top: 30px;
    left: 70%;
    width: 35px;
}
.card-common_2 .graph_up {
    width: 100%;
    height: 95%;
    padding-bottom: 20px;
}
.card-common_3 {
    width: 100%;
    border-radius: 24px;
    padding: 23px;
    position: relative;
    background: #fff;
    height: 204px;
    text-align: center;
}
.card-common_3 img {
    width: 100%;
    height: 100%;
}
.diagrams img{
    width: 100%;
}
.diagrams {
    padding-top: 30px;
}
.diagrams h4 {
    font-family: 'Nunito';
    font-weight: bold;
    color: #222132;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.diagrams .col-lg-6 {
    background: #fff;
    padding: 0 10px;
}
.colons .col-lg-6 {
    padding: 8px;
}
.colons img {
    width: 100%;
}
.tables {
    padding: 40px 0;
}
.tables .col-lg-6 {
    padding: 10px 20px;
}
.tables h4 {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
    padding: 20px 15px;
}
.tables table {
    width: 100%;
    font-family: 'Nunito';
}
.tables table span {
    padding-left:15px ;
    
}
.td_line, .td_line_1{
    position: relative;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 28px;
}
.td_line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    background:#9BABC5 ;
    top: 33px;
    left: 0;
}
.td_line td {
    padding: 0 0 15px 0;
}
.tables .col-lg-6 {
    border-radius: 25px;
    background: #fff;
}
.bold_style {
    line-height: 80px;
    font-weight: bold;
}
.tables .btn-outline-success, .tables .btn-outline-danger {
    padding: 3px 10px;
    float: none;
} 
.tables .grey_text{
    font-size: 14px;
    color: #9BABC5;
    font-weight: normal;
}
.post_text {
    font-size: 14px;
    color: #9BABC5;
}
.bold_text {
    font-weight: bold;
}
.td_line_1 {
    line-height: 80px !important;
}
.td_line_1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    background:#9BABC5 ;
    top: 80px;
    left: 0;
}
.tables .alert-success, .tables .alert-danger, .tables .alert-warning {
    padding: 3px 10px;
    float: right;
    line-height: 26px;
    border-radius: 6px;
    margin: 3px 0 0 0 ;
} 
.tables .alert-success {
    background: #428777;
    color:#fff ;
}
.tables .alert-danger {
    background: #EE4444;
    color: #fff;
}
.tables .alert-warning {
    background: #F0CA43;
    color: #fff;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.action button {
    border-radius: 24px;
    background: #428777;
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.action .btn:hover {
    color: #fff !important;
}
.btn-group input, .btn-group label{
    border-radius: 25px;
}
.wallet {
    padding-bottom: 0 !important;
}

.transfer {
    width:100% ;
    background: #428777;
    height: 85px;
    border-radius: 25px;

}
.send_invoice {
    width: 100%;
    background: #F0CA43;
    height: 85px;
    border-radius: 25px;
}
.transfer span, .send_invoice span {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}
.transfer span img, .send_invoice span img {
    width: 100%;
}

.transfer , .send_invoice {
    padding-left:24px;
    display: flex;
    align-items: center;
}
.transfer div, .send_invoice div {
    padding-left: 40px;
    color: #fff;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;

} 
.tables .col-lg-3 {
    padding: 0 28px 28px;
}
.tables .col-lg-3{
    padding: 0 28px;

}
.tables .col-lg-3 h4{
    padding-top: 0;
    padding-left: 0;
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: bold;

}
.tables .col-lg-3 .info_user {
    display: flex;
    justify-content: flex-start;
}
.tables .col-lg-3 .info_user div {
    font-size: 15px;
    font-weight: bold;
    color: #222132;
    padding-left: 15px;
    padding-top: 5px;
}
.tables .col-lg-3 .info_user span {
    font-size: 14px;
    color: #9BABC5;
    font-family: 'nunito';
}
.tables .col-lg-3 .info_user img {
    width: 54px;
    height: 54px;
}
.tables .col-lg-3 .col-lg-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.tables .col-lg-3 .col-lg-12 label {
    font-size: 15px;
    font-family: 'Nunito';
    color: #428777;
}
.card-invoice {
    width: 100%;
    height: 200px;
    border-radius: 24px;
    background: #FFFFFF;
    padding: 30px;
}
.card-invoice_g {
    font-size: 24px;
    color: #428777;
    display: flex;
    justify-content: space-between;
}
.card-invoice h3{
    font-size: 33px;
    color: #222132;
    padding: 16px 0 8px 0;
    font-weight: bold;
}
.card-invoice p {
    font-size: 15px;
    color: #9BABC5;
}
.tables td .table_user {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.tables td img{
    width: 35px;
    height: 35px;
    margin-top: 20px;
    
}
.bold_style .user_tab span {
    line-height: 15px;
}
.bold_style .user_tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}